<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">
  <link rel="icon" type="image/png" href="{{asset "images/favicon.png"}}">
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{> navigation}}

  <main>
    {{{body}}}
  </main>

  {{> footer}}

  <script src="{{asset "js/main.js"}}"></script>
  {{ghost_foot}}
</body>
</html>
