{{!< default}}

<article class="post-full">
  <header class="post-header">
    <div class="container">
      {{#if primary_tag}}
        <span class="post-tag">{{primary_tag.name}}</span>
      {{/if}}
      <h1 class="post-title">{{title}}</h1>
      <div class="post-meta">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="D MMMM YYYY"}}</time>
        {{#if primary_author}}
          <span class="post-meta-sep">&middot;</span>
          <span class="post-author">{{primary_author.name}}</span>
        {{/if}}
        <span class="post-meta-sep">&middot;</span>
        <span class="post-reading-time">{{reading_time}} min read</span>
      </div>
    </div>
  </header>

  {{#if feature_image}}
    <figure class="post-feature-image">
      <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
      {{#if feature_image_caption}}
        <figcaption>{{{feature_image_caption}}}</figcaption>
      {{/if}}
    </figure>
  {{/if}}

  <section class="post-body">
    <div class="container">
      <div class="gh-content">
        {{{content}}}
      </div>
    </div>
  </section>

  <footer class="post-footer">
    <div class="container">
      {{!-- Post tags --}}
      {{#if tags}}
        <div class="post-tags">
          {{#foreach tags}}
            <a href="{{url}}" class="post-tag-link">{{name}}</a>
          {{/foreach}}
        </div>
      {{/if}}

      {{!-- Previous / Next navigation --}}
      <nav class="post-nav">
        {{#prev_post}}
          <a class="post-nav-item post-nav-prev" href="{{url}}">
            <span class="post-nav-label">&larr; Previous</span>
            <span class="post-nav-title">{{title}}</span>
          </a>
        {{/prev_post}}
        {{#next_post}}
          <a class="post-nav-item post-nav-next" href="{{url}}">
            <span class="post-nav-label">Next &rarr;</span>
            <span class="post-nav-title">{{title}}</span>
          </a>
        {{/next_post}}
      </nav>
    </div>
  </footer>
</article>

{{!-- Subscribe CTA --}}
{{> subscribe-form}}
